# Gemini / LLM Provider
GEMINI_API_KEY=AI...

# LangSmith for Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=lsv2-...
LANGCHAIN_PROJECT=ai-scraper-bot

# App Settings
APP_ENV=development
debug=true
